
@{ ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/AdminLayout.cshtml"; }

   
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Add Store</h6>
            <form asp-action="CreateStore" method="post" enctype="multipart/form-data">


                <div class="row mb-3">
                    <label for="inputname" class="col-sm-2 col-form-label">Store Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="Storename" class="form-control" id="inputname">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Store Logo</label>
                    <div class="col-sm-10">
                        <input type="file" name="LogoFile" class="form-control" id="inputEmail3">
                    </div>
                </div>


                <div class="row mb-3">
                    <label for="inputLoc" class="col-sm-2 col-form-label">Store Location</label>
                    <div class="col-sm-10">
                        <input type="text" name="Storelocation" class="form-control" id="inputLoc">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputLoc" class="col-sm-2 col-form-label">Owner Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="Ownername" class="form-control" id="inputLoc">
                    </div>
                </div>


                <div class="row mb-3">
                    <label for="inputLoc" class="col-sm-2 col-form-label">Category Name</label>
                    <div class="col-sm-10">
                        <select name="Categoryid" class="form-select mb-3 w-50" asp-items="ViewBag.Categoryid"></select>
                    </div>
                </div>



                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>

    </div>




