@model Market_Store___First_Project.Models.Category
@{ ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Edit Category</h6>
        <form asp-action="EditCategory" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <input type="hidden" name="Id" value=@Model.Id />
                <label for="inputname" class="col-sm-2 col-form-label">Category Name</label>
                <div class="col-sm-10">
                    <input type="text" name="CategoryName" value="@Model.CategoryName" class="form-control" id="inputname">
                </div>
            </div>
          
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Image File</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="ImageFile" id="photo">

                </div>
            </div>
            <div class="row mb-3">

                <input hidden name="ImagePath" value="@Model.ImagePath" />
            </div>


            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>

</div>